{% extends "base.html" %} {% block content %} Welcome to Apupos

<div class="row">
  <div class="col-md-4 mx-auto col-10">
    <form
      class="form"
      method="POST"
      action="/create-apupo"
      id="apupo-create-form"
    >
      {% csrf_token %}
      <div class="d-none alert alert-danger" id="apupo-creat-form-error"></div>
      <input type="hidden" value="/" name="next" />
      <textarea
        class="form-control"
        name="content"
        required="required"
        placeholder="o que está acontecendo?"
      ></textarea>
      <button type="submit" class="btn btn-primary">apupo</button>
    </form>
  </div>
</div>

<div id="apupos">Carregando...</div>

{% comment %} carregamento automático de apupos/tweets {% endcomment %}
<script>
  function handleApupoFormError(message, display) {
    var errorElement = document.getElementById("apupo-creat-form-error")
    if (display === true) {
      errorElement.setAttribute("class", "d-block alert alert-danger")
      errorElement.innerText = message
    } else {
      errorElement.setAttribute("class", "d-none")
    }
  }

  function handleApupoCreateFormSubmit(e) {
    e.preventDefault();
    const myForm = e.target;
    const myFormData = new FormData(myForm);
    const url = myForm.getAttribute("action"); // create-apupo/
    const method = myForm.getAttribute("method"); // POST

    const xhr = new XMLHttpRequest();
    const responseType = "json";
    xhr.responseType = responseType;

    xhr.open(method, url);
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");

    xhr.onload = function () {
      if (xhr.status === 201) {
        handleApupoFormError("", false)
        const newApupo = xhr.response
        const newApupoElement = formatApupo(newApupo)
        const newApupoHtmlElement = apuposContainerElement.innerHTML
        // nova postagem primeiro
        apuposContainerElement.innerHTML = newApupoElement + newApupoHtmlElement
        myForm.reset()
      } else if (xhr.status === 400) {
        const errorJson = xhr.response
        const contentError = errorJson.content
        let contentErrorMsg
        if (contentError) {
          contentErrorMsg = contentError[0]
          if (contentErrorMsg) {
            handleApupoFormError(contentErrorMsg, true)
          } else {
            alert("Um erro ocorreu, tente mais tarde novamente.")
          }
        } else {
          alert("Um erro ocorreu, tente mais tarde novamente.")
        }

      } else if (xhr.status === 500) {
        alert("Ocorreu um erro do servidor, por favor tente novamente mais tarde")
      }
    };
    xhr.onerror = function() {
      alert("ERRO!! Tente novamente mais tarde.")
    }
    xhr.send(myFormData);
  }

  const apupoCreateFormElement = document.getElementById("apupo-create-form");
  const apuposContainerElement = document.getElementById("apupos");

  apupoCreateFormElement.addEventListener(
    "submit",
    handleApupoCreateFormSubmit
  );

  const loadApupos = function (apuposElement) {
    const xhr = new XMLHttpRequest();
    const method = "GET";
    const url = "/apupos";
    const responseType = "json";

    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = function () {
      const serverResponse = xhr.response;
      const listedItems = serverResponse.response;
      var finalStr = "";
      var i;
      for (i = 0; i < listedItems.length; i++) {
        {% comment %} console.log(i);
        console.log(listedItems[i]); {% endcomment %}
        var currentApupo = formatApupo(listedItems[i]);
        finalStr += currentApupo;
      }

      apuposElement.innerHTML = finalStr;
    };
    xhr.send();
  };

  loadApupos(apuposContainerElement);

  function handleLike(apupo_id, currentLikes) {
    console.log(apupo_id, currentLikes);
  }

  function likeBtn(apupo) {
    return (
      "<button class='btn btn-primary' onclick='handleLike(" +
      apupo.id +
      "," +
      apupo.likes +
      ")'>" +
      apupo.likes +
      " Like</button>"
    );
  }

  function formatApupo(apupo) {
    formatedApupo =
      "<div class='mb-4 apupo' id='apupo-" +
      apupo.id +
      "'><p>" +
      apupo.content +
      "</p><div>" +
      likeBtn(apupo) +
      "</div></div>";
    return formatedApupo;
  }
</script>
{% endblock content %}
