{% extends "base.html" %} {% block content %} Welcome to Apupos

<div id="apupos">Carregando...</div>

{% comment %} carregamento automático de apupos/tweets {% endcomment %}
<script>
  const apuposElement = document.getElementById("apupos");

  const xhr = new XMLHttpRequest();
  const method = "GET";
  const url = "/apupos";
  const responseType = "json";

  function handleLike(apupo_id, currentLikes) {
    console.log(apupo_id, currentLikes);
  }

  function likeBtn(apupo) {
    return (
      "<button class='btn btn-primary' onclick='handleLike(" +
      apupo.id +
      "," +
      apupo.likes +
      ")'>" +
      apupo.likes +
      " Like</button>"
    );
  }

  function formatApupo(apupo) {
    formatedApupo =
      "<div class='mb-4 apupo' id='apupo-" +
      apupo.id +
      "'><p>" +
      apupo.content +
      "</p><div>" +
      likeBtn(apupo) +
      "</div></div>";
    return formatedApupo;
  }

  xhr.responseType = responseType;
  xhr.open(method, url);
  xhr.onload = function () {
    const serverResponse = xhr.response;
    const listedItems = serverResponse.response;
    var finalStr = "";
    var i;
    for (i = 0; i < listedItems.length; i++) {
      console.log(i);
      console.log(listedItems[i]);
      var currentApupo = formatApupo(listedItems[i]);
      finalStr += currentApupo;
    }

    apuposElement.innerHTML = finalStr;
  };
  xhr.send();
</script>
{% endblock content %}
